.main{
    width: 800px;
}

.wrapper3{
    display: flex;
}

.titleOfPortfolio{
    margin-top: 40px;
    font-size: 24px;
}

.leftBox{
    width: 500px;
}

.divAndSpan{
    font-size: 13px;
}

.hh{
    margin-top: 15px;
    font-size: 16px;
}

.littleText{
    width: 200px;
    font-size: 13px;
}

.contact{
    margin-top: 30px;
    font-size: 13px;
    margin-bottom: 20px;
}


.pp{
    font-size: 16px ;
    margin-left: 50px;
    margin-top: 100px;
    color: #2D2B2B;
}

.in{
    margin-top: 10px;
    margin-left: 50px;
    color: #2D2B2B;
}

.in__input{
    width: 400px;
    height: 25px;
    color: #2D2B2B;
}

.pp2{
    margin-left: 50px;
    margin-top: 20px;
    color: #2D2B2B;
}

.in__input2{
    width: 400px;
    height: 200px;
    color: #2D2B2B;
}

.btns{
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
}

.btn3{
    padding: 5px;
    width: 80px;
    background-color: white;
    border-color: #939393;
    border-width: 1px;
    border-radius: 5px;
    color: dimgray;
    font-weight: bold;
}

.btn4{
    margin-left: 250px;
    padding: 5px;
    width: 80px;
    background-color: white;
    border-color: #939393;
    border-width: 1px;
    border-radius: 5px;
    color: dimgray;
    font-weight: bold;
}