body{
	font-family: Arial, serif;
	background-color: whitesmoke;
}
.main{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.search{
	display: inline-block;
	margin-top: 0;
	margin-left: 225px;
	width: 180px;
	border-color: #2D2B2B;
	border-width: thin;
	background: whitesmoke;
}

.welcome{
	color: #2D2B2B;
	font-size: 26px;
	font-weight: 100;
}

.welcomeText{
	width: 60%;
	color: #939393;
	padding-top: 20px;
	padding-left: 30px;
}

.wrapper{
	display: flex;
	justify-content: space-between;
}

.suitcase{
	padding-right: 30px;
	padding-top: 30px;
	width: 200px;
}

.cart{
	margin-top: 50px;
	background: linear-gradient(0deg, rgba(51,158,149,1) 0%, rgba(97,204,195,1) 100%);
	width: 28%;
	padding:5px 15px;
	border-radius: 5px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}


.title {
	color: #fff;
	font-weight: bold;
}

.text{
	color: #fff;
}

.btn {
	display: flex;
	justify-content: end;
}

.more{
	display: flex;
	justify-content: center;
	border-radius: 8px;
	border-color: #939393;
	border-style: solid;
	border-width: 1px;
	width: 30%;
	margin-left: 120px;
	font-weight: bold;
	color: black;
	background: linear-gradient(0deg, rgba(37,115,108,1) 0%, rgba(97,204,195,1) 100%);
}

.info{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.textInfo{
	margin-top: -15px;
	font-size: 13px;
	width: 150px;
	right: 12px;
}

.textInfo p{
	margin-left: 5px;
}

.textInfoTitle{
	color: darkcyan;
	margin-left: 5px;
}

.leftInfo {
	width: 270px;

}
.latest_updates{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 10px;
}
.fotoOrange{
	width: 85px;
}

.underFoto{
	color: dimgray;
	margin-top: -5px;
	font-size: 13px;
	margin-left: 12px;
}

.underFoto2{
	font-size: 13px;
	margin-left: 12px;
}

.textUnderFoto{
	background-color: lightgray;
}

.textUnderFoto2{
	width: 90px;
	margin-top: -10px;
	font-size: 13px;
	background-color: lightgray;
}

.centerInfo{
	width: 300px;
	margin-left: 30px;
}

.who_we_are_text{
	color: darkcyan;
	font-style: italic;
	font-size: 13px;
}

.who_we_are_text_second{
	font-size: 13px;
}

.check_boxes{
	padding-top: 20px;
	font-size: 13px;
}

.big_oranges{
	width: 200px;
	margin-top: 60px;
	margin-left: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: white;
	padding: 5px;
}

.second_check_boxes{
	border-radius: 13px;
	font-size: 13px;
	margin-top: 30px;
}

.more_bottom_button{
	margin-left: 160px;
	padding: 5px;
	width: 80px;
	background-color: lightgray;
	border-color: #939393;
	border-width: 1px;
	border-radius: 5px;
	color: black;
	font-weight: bold;
}

footer{
	padding: 0.5px ;
	min-width: 1200px;
	margin-top: 10px;
	background-color: lightgray;
	font-size: 11px;
}
